[submodule "backend"]
	path = backend
	url = https://github.com/tganeev/pkms-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/tganeev/pkms-frontend.git
[submodule "database"]
	path = database
	url = https://github.com/tganeev/pkms-database.git
[submodule "mobile/pkms-reader"]
	path = mobile/pkms-reader
	url = https://github.com/tganeev/pkms-reader.git
